*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc-wrapper>.top {
    display: flex;
    justify-content: center;
}
.desc-wrapper >.top > h5{
    width: fit-content;
    background-color: antiquewhite;
    padding: 3px;
    border-radius: 4px;
}
.desc-wrapper >h3{
    font-size: 1.7rem;
}
.desc-wrapper >h3,.desc-wrapper >p {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 70%;
    margin-inline:auto;
}


@media screen and (max-width:670px) {
    .desc-wrapper >h3{
        font-size: 1.4rem;
    }
}
