*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header part */
.app-wrapper > .header{
  width: 100%;
  height: 40px;
}

.show-block{
  display: block;
}
.show-flex{
  display: flex;
}

.hide{
  display: none;
}

.app-wrapper > .body{
  width: 80%;
  height: auto;
  margin-inline: auto;
}

/* body home */
.app-wrapper > .body > .body-home{
  padding: 20px;
}



/* responsive */
@media screen and (max-width:870px) {
  .app-wrapper > .body > .body-home{
    width: auto;
    height: auto;
  }
}
